<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mi Proyecto</title>
    <!-- Agrega aquí tus etiquetas meta, enlaces a hojas de estilo (CSS), o cualquier otro elemento del encabezado que necesites -->
</head>
<body>
    <header>
        <h1>Encabezado de Mi Proyecto</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <!-- Aquí puedes agregar el contenido principal de tu página -->

    <footer>
        <p>&copy; 2023 Mi Proyecto. Todos los derechos reservados.</p>
    </footer>

    <!-- Puedes incluir scripts de JavaScript u otros elementos al final del cuerpo si es necesario -->

</body>
</html>
